*{
    box-sizing: border-box;
}

body{
    background-color: #FFF7F1;
}


.color-picker-wrapper{
    border-radius: 100%;
    transition: box-shadow 0.3s ease; 
    transition: transform .2s;

}

.color-picker-wrapper:hover{
    box-shadow: 0px 7px 66px 0px rgba(0,0,0,0.33);
    transform: scale(1.1);
}
input[type="color"] {
	opacity: 0;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

.container{
    display:flex;
    justify-content: center;
    

}

.grid{
    background-color: #FFFFFF;
    flex-wrap: wrap;
    height:500px;
    flex-basis: 500px;
    display:flex;
    /* border:black 1px solid; */
    flex-grow: 0px;
    box-shadow: 10px 10px 83px -4px rgba(0,0,0,0.32);
    
}
.controls{
    padding:0px 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 800px;
    font-size: 64px;
    text-align: center;
    color: #E78895;
}

.grid-size-display{
    font-family: "Montserrat", sans-serif;
    font-weight: 800px;
    font-size: 20px;
    text-align: center;
    color: #E78895;
    margin:0px; 

}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  

  .slider:hover {
    opacity: 1;
  }
  

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #E78895; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #E78895; 
    cursor: pointer; 
  }

button{
    padding:20px;
    background-color: #E78895;
    color:#FFF7F1;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 300px;
    font-size: 20px;
    transition: box-shadow 0.3s ease; 
    transition: transform .2s;
    cursor: pointer; 
    
}

button:hover{
    box-shadow: 0px 7px 66px 0px rgba(0,0,0,0.33);
    transform: scale(1.1);
    
}